<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" 
    />

	<title>首页</title>
	<link rel="stylesheet" href="css/weui.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="container">
	<div class="hd">
	    <div class="page_title">Welcome!</div>
	</div>
	<div class="bd spacing">
		<div class="weui_btn weui_btn_primary">预约</div>
		<div class="weui_btn weui_btn_primary">余额查询</div>
		<div class="weui_btn weui_btn_primary">消费流水</div>
	</div>
	<div class="footer"></div>

</div>
</body>
</html>