<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" 
    />
	<title>预约时间</title>
	<!-- <link rel="stylesheet" href="css/weui.css"/> -->
	<link rel="stylesheet" type="text/css" href="../src/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../src/css/schdule-table.css" />
</head>
<body>
<div class="container">
	            <div class="hd ">
	                <div class="page_title">预约时间</div>
	            </div>
	            <div class="bd spacing">
	                <div class="calendar" >
			    <div class="cld_hd">
	    	    <div class="nav-left" ><span>&lt;</span></div>
	    	    <div class="nav-right" ><span>&gt;</span></div>
	    	    <div class="cld_month">
	    	        <p>7月</p>
	    		    <p>2016年</p>
	    	    </div>
	    	</div>
			    <div class="cld_bd">
	    	    <table>
	    	        <thead>
    	    	        <tr>
	    	        	    <td>日</td>
	    	        	    <td>一</td>
	    	        	    <td>二</td>
	    	        	    <td>三</td>
	    	        	    <td>四</td>
	    	        	    <td>五</td>
	    	        	    <td>六</td>
	    	            </tr>
	    	        </thead>
	    	        <tbody>
	    	        	<tr>
	    	        	    <td></td>
	    	        	    <td></td>
	    	        	    <td></td>
	    	        	    <td></td>
	    	        	    <td>1</td>
	    	        	    <td>2</td>
	    	        	    <td>3</td>
	    	        	</tr>
	    	        	<tr>
	    	        	    <td>4</td>
	    	        	    <td>5</td>
	    	        	    <td>6</td>
	    	        	    <td>7</td>
	    	        	    <td>8</td>
	    	        	    <td>9</td>
	    	        	    <td>10</td>
	    	        	</tr>
	    	        	<tr>
	    	        	    <td>11</td>
	    	        	    <td>12</td>
	    	        	    <td>13</td>
	    	        	    <td>14</td>
	    	        	    <td>15</td>
	    	        	    <td>16</td>
	    	        	    <td>17</td>
	    	        	</tr>
	    	        	<tr>
	    	        	    <td>18</td>
	    	        	    <td>19</td>
	    	        	    <td>20</td>
	    	        	    <td>21</td>
	    	        	    <td>22</td>
	    	        	    <td>23</td>
	    	        	    <td>24</td>
	    	        	</tr>
	    	        	<tr>
	    	        	    <td>25</td>
	    	        	    <td>26</td>
	    	        	    <td>27</td>
	    	        	    <td>28</td>
	    	        	    <td>29</td>
	    	        	    <td>30</td>
	    	        	    <td>31</td>
	    	        	</tr>
	    	        </tbody>
	            </table>
	    	</div>
			</div>
	            </div>
	            <div class="footer"></div>
	        </div>
</body>
</html>